.container {
  margin: 5rem auto;
  max-width: 50%;
}
.input {
  margin: 8rem auto;
  position: relative;
  text-transform: capitalize;
}
.weather {
  width: 400px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
  color: black;

  background-color: rgb(149, 165, 194);
  margin: 11rem 14rem;
  opacity: 0.4;
}
.weather-icon {
  margin-left: 18rem;
  position: absolute;
}
.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.2rem;
  margin: 2rem 8rem;
}
.description {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -1rem 18rem;
  line-height: 1;
  position: absolute;
}
.temperature {
  font-weight: 500;
  font-size: 4rem;
  width: auto;
  margin: -1rem 8rem;
}
.parametr-heading {
  width: 100%;
  padding-left: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
}
.parameter-row {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin: 1rem;
}
.parametr-label {
  text-align: left;
  font-weight: 400;
  margin-left: 3rem;
  position: absolute;
}
.parametr-value {
  margin-left: 13rem;
  position: absolute;
  text-align: center;
  justify-content: center;
}

.daily-list {
  display: flex;
  padding: 0.5rem;
  justify-items: center;

  margin: 2rem 1rem;
  position: relative;

  justify-content: center;
}
.title {
  text-align: center;
  justify-content: center;
  display: flex;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2rem;
  font-family: Roboto;
  color: rgb(20, 18, 18);
  margin-top: 4rem;
}
.day {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
  text-transform: capitalize;
  color: rgb(42, 9, 9);
}
.icon {
  margin-top: 1.5rem;
  margin-left: 1rem;
  position: absolute;
}
.forecast-description {
  margin-top: -3rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5rem;
  text-transform: capitalize;
}
.time {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  margin: -3rem 5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  letter-spacing: 0.2rem;
  color: rgb(167, 158, 142);
}
.temperature-forecast {
  margin: 5rem 3rem;

  font-weight: 500;
  font-size: 1.2rem;
  width: auto;
}

@media (max-width: 800px) {
  .input {
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 10rem;
    justify-content: center;
    text-indent: 2rem;
  }

  .daily-list {
    margin-top: -10rem;
    padding: 0;
    font-size: 0.9rem;
    line-height: 2rem;

    position: absolute;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    margin-top: -13rem;
    position: absolute;
    font-size: 1.3rem;

    white-space: nowrap;
    letter-spacing: 0.3rem;
    line-height: 1rem;
    margin-left: 4rem;
  }

  .time {
    display: flex;
    white-space: nowrap;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 12rem;
    font-size: 0.7rem;

    text-align: center;
  }

  .top,
  .bottom {
    text-align: center;
  }

  .weather {
    background-color: rgb(184, 196, 225);
    opacity: 0.3;
    color: black;
    height: 200px;
    font-size: 1rem;
    width: 300px;
    position: relative;
    margin: 14rem 3rem;
  }
  .top {
    display: block;
    white-space: nowrap;
  }
  .bottom {
    margin-top: 8rem;
  }
  .city {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: poppins, sans-serif;
  }
  .temperature {
    font-size: 3rem;
    margin-top: 3.5rem;
    position: absolute;
    margin-left: 9rem;
  }
  .weather-icon {
    margin-top: -4.5rem;
    margin-left: 6rem;
    padding: 2rem;
  }
  .description {
    font-size: 1rem;
    margin-top: 5rem;
    margin-left: 13.5rem;
  }
  .icon {
    font-size: 18px;
  }
}
